

#track {
    margin-left: auto;
    display: flex;
    align-items: center; /* aligns all the items vertically centered */
    justify-content: left; /* aligns all the items horizontally centered */
    margin-bottom: 25px;
    min-width: 500px;
}

#track-content{
    margin-left: 40px;
    display: block;
    align-items: left;
    height: 70px;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: auto;
}

#actions {
    margin-left: auto; 
    margin-right: 500px auto;
}

body {
    font-family: 'Josefin Sans';
    color: #f6f6e9;
  }

h1 {
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 80px;
}

h2 {
    text-align: center;
    color: #457d58;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
}

#extras {
    text-align: center;

}