<html lang="en">
<head>
    <title>Adaptune</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>

<body style="background-color: rgb(86, 86, 86)";>

    <div class="homepage_logo">
        <img src="/static/images/Adaptune.png" 
        alt="logo-img" 
        class="center"
        >

    </div>

    <div class="text-center" style="padding-top: 47px;">
        <a href="{{ url_for('login') }}">
            <button class="fade" id="login-btn" type="button">
                Log in with Spotify
            </button>
        </a>

        
    </div>

    <div class="container text-center hi" style="text-align:center">
        <p class="main-p" style="color: rgb(255, 255, 255)">
            Skim through a playlist by creating a custom Spotify playlist based on your favourite tracks<br>
        </p>
        
    </div>

    <p class="greyed" style="text-align:center">
        *We are using Spotify's secure login to connect to your account.<br>
    </p>


</body>