<html lang="en">
<head>
    <title>Adaptune</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
</head>

<body style="background-color: rgb(86, 86, 86)";>

<form method="post" style="background-color:#f6f6e9">
    <h1 >Let's skim that playlist and find our which songs you like the best!</h1>
      <input type="text" id="link" name='link' placeholder="Insert Link to Playlist Here">
  <button class="fade" type="submit" onclick="">Submit</button>

</form>

</body>
</html>
